@import "tailwindcss";
@import "@fontsource-variable/geist/wght.css";

@theme {
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Poppins", sans-serif;
  --font-mono: "Geist Variable", sans-serif;
}

body {
  background-color: white;
  font-family: var(--font-body);
}

.grotesk {
  font-family: var(--font-heading);
}

.poppins {
  font-family: var(--font-body);
}

.geist {
  font-family: var(--font-mono);
}

.nav-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nav-scroll::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* Overview Scroll bar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
  height: 50px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
